<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sshy.club.mapper.RYTreasureDB.GameColumnItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sshy.club.entity.RYTreasure.GameColumnItem">
        <id column="SortID" property="SortID" />
        <result column="ColumnName" property="ColumnName" />
        <result column="ColumnWidth" property="ColumnWidth" />
        <result column="DataDescribe" property="DataDescribe" />
    </resultMap>

</mapper>
